<!doctype html>
<html>
  <head>
    <title>Famtrees - <%= title %></title>
    <script src="static/pages/controller/<%= controller %>.js"></script>
    <style>
      body { 
        font-family: sans-serif;
        background: #082136;
        color: #ababc5;
        margin: 0;
      }
    </style>
  </head>
</html>