<!doctype html>
<html>
  <head>
    <title>Famtrees - Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="static/pages/controller/index.js"></script>
  </head>
</html>
