<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
	<title>Famtrees - Stream</title>

  <style>
    /* Basic styling for the form */
    #login-form {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    label {
      margin-bottom: 5px;
    }

    input[type="text"], input[type="password"] {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button[type="submit"] {
      background-color: #4CAF50; /* Green */
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div id="login-form">
    <h2>Connect to OBS</h2>
    <label for="address">OBS Address:</label>
    <input type="text" id="address" name="address" value="localhost:4444">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <button type="submit" id="connect-button">Connect</button>
  </div>
	<script>
	 	const websocket = new WebSocket("<%= websocketUrl %>"); 
  	websocket.onopen = function(event) {
    	websocket.send("pong");
  	};


		websocket.addEventListener('ping', () => {
			websocket.pong();
	  });

  	websocket.onmessage = async function(event) {
			const payload = JSON.parse(event.data)
	   	await window.obsSocket?.call('SetInputSettings', { 
				inputName: "new follow",
				overlay: true,
				inputSettings: {
					url: `https://stream.famtrees.net/browser-source?sourcePath=sources/new-follower&username=${payload.data?.user_name}`		
				}
			})
			
			const id = await window.obsSocket?.call('GetSceneItemId', {
				sceneName: "Main",
				sourceName: "new follow"
			})
			
			await window.obsSocket?.call('SetSceneItemEnabled', { 
				sceneName: "Main",
				sceneItemEnabled: true,
				...id
			})

			setTimeout(() => {
				window.obsSocket?.call('SetSceneItemEnabled', {
					...id,
					sceneName: "Main",
					sceneItemEnabled: false,
				})
			}, 1000*10.2)
		}

  	websocket.onclose = function(event) {
	    console.log("WebSocket connection closed.");
	  };

		websocket.onerror = function(event) {
		console.error("WebSocket error occurred:", event);
  	};
	</script>
	<script>	
 		window.obsSocket = new OBSWebSocket();
		const connectButton = document.getElementById('connect-button');
    const addressInput = document.getElementById('address');
    const passwordInput = document.getElementById('password');

    connectButton.addEventListener('click', () => {
      const address = addressInput.value;
      const password = passwordInput.value;
			
      window.obsSocket.connect(address, password)
      .then(() => {
        console.log('Connected to OBS');
      })
      .catch(err => {
        console.error('Error connecting to OBS:', err);
      });
		});
  </script>
</body>
</html>
