<!doctype html>
<html>

  <head>
    <title>Famtrees - Stream</title>
		<link rel="stylesheet" href="static/main.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
  </head>

  <body>
   <script>
			const makeScriptElement = (src) => {
				const script = document.createElement('script')
        script.setAttribute('src', src)
        document.body.append(script)
			}
		  
			const parser = new DOMParser()
      
      const parseHtmlFromRes = async (res) => {
        const htmlText = await res.text()
        const domModule = parser.parseFromString(htmlText, "text/html")
        const headChildren = Array.from(domModule.head.children)
        headChildren.forEach(child => {
          if(child.tagName !== "STYLE") return
          
          document.head.append(child)
        })


        const childArr = Array.from(domModule.body.children)
        childArr.forEach(child => {
          if (child.tagName === "SCRIPT") {
						makeScriptElement(child.src)
            return
          }

          document.body.append(child)
        })
      }

      const init = async () => {
        const uiRes = await fetch('static/form.html')
        await parseHtmlFromRes(uiRes)
        const pageRes = await fetch('static/login.html')
        await parseHtmlFromRes(pageRes)
			
				makeScriptElement('static/ws-stream.js')
				makeScriptElement('static/obs-ws-controller.js')
      }

      init()
    </script>
  
  </body>
</html>
