<!DOCTYPE html>
<html>
<head>
  <title>Authorization Successful</title>
</head>
<body>
  <h1>Authorization Successful!</h1>
  <p>Your Twitch account is now connected to our app. You can start using the features that require authorization.</p>

  </body>
</html>
