<!doctype html>
<html>
  <head>
    <style>
      .container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: fadeIn 0.4s ease-in-out forwards;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      video {
        height: auto;
      }

      @font-face {
        font-family: "jedi";
        src: url("static/fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
      }

      .name {
        font-family: "jedi";
        color: white;
        font-size: 47px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <audio id="alert-sound">
        <source src="static/assets/new-follow.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <video id="alert-vid">
        <source src="static/assets/new-follow.webm" />
        Your browser doesn't support the video tag.
      </video>
      <div class="text-overlay">
        <p class="name" id="username"></p>
      </div>
    </div>

    <script>
      const setDelay = (id, delay) => {
        const media = document.getElementById(id);
        setTimeout(() => media?.play && media.play(), delay);
      };

      setDelay("alert-vid", 700);
      setDelay("alert-sound", 1700);

      const usernameText = document.getElementById("username");
      const video = document.getElementById("alert-vid");

      video.playbackRate = 2;
      video.addEventListener("ended", () => {
        video.style.transition = "opacity 1s";
        video.style.opacity = 0;
        usernameText.style.transition = "opacity 1s";
        usernameText.style.opacity = 0;
      });
    </script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const username = urlParams.get("username");
      const usernameOverlay = document.getElementById("username");

      if (username) {
        usernameOverlay.textContent = username;
      } else {
        usernameOverlay.textContent = "Anon";
      }
    </script>
  </body>
</html>
