<!doctype html>
<html>
  <head>
    <title>Famtrees - Stream</title>
    <link rel="stylesheet" href="static/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="static/widgets/status.js"></script>
    <script src="static/widgets/list.js"></script>
    <script src="static/widgets/composable-form.js"></script>
    <script src="static/ws-stream.js" defer></script>
    <script src="static/obs-ws-controller.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="login-form-paper">
        <composable-form id="stream-login" fields="<%= streamLoginFields  %>">
        </composable-form>
        <composable-form id="obs-login" fields="<%= obsLoginFields %>">
        </composable-form>
      </div>
    </div>

    <div class="container">
      <status-indicator id="action-stream-status">
        <span slot="title">Action Stream</span>
      </status-indicator>
      <status-indicator id="obs-status">
        <span slot="title">Obs</span>
      </status-indicator>
    </div>

    <div class="container">
      <list-container class="subscriptions-list" id="subscriptions">
        <span slot="title">Subscriptions</span>
      </list-container>
    </div>
  </body>
</html>
