<!doctype html>
<html>
  <head>
    <title>Famtrees - Stream</title>
    <link rel="stylesheet" href="static/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="static/widgets/status.js"></script>
    <script src="static/widgets/submit-button.js"></script>
    <script src="static/widgets/list.js"></script>
    <script src="static/widgets/text-field.js"></script>
    <script src="static/widgets/stream-login.js"></script>
    <script src="static/widgets/obs-login.js"></script>
    <script src="static/ws-stream.js" defer></script>
    <script src="static/obs-ws-controller.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="login-form-paper">
        <stream-login id="stream-login" class="login-form-fields"> </stream-login>
        <obs-login id="obs-login" class="login-form-fields"> </obs-login>
      </div>
    </div>

    <div class="container">
      <status-indicator id="action-stream-status">
        <span slot="title">Action Stream</span>
      </status-indicator>
      <status-indicator id="obs-status">
        <span slot="title">Obs</span>
      </status-indicator>
    </div>

    <div class="container">
      <list-container class="subscriptions-list" id="subscriptions">
        <span slot="title">Subscriptions</span>
      </list-container>
    </div>
  </body>
</html>
