<!doctype html>
<html>
  <head>
    <title>Famtrees - Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="static/widgets/page.js"></script>
  </head>
  <body>
    <div><page-controller /></div>
  </body>
</html>
