<!doctype html>
<html>
  <head>
    <title>Famtrees - Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="static/widgets/page.js"></script>
    <script src="static/widgets/list.js"></script>
    <script src="static/widgets/form.js"></script>
    <script src="static/ws-stream.js" defer></script>
    <script src="static/obs-ws-controller.js" defer></script>
  </head>
  <body>
    <style>
      body {
        font-family: sans-serif;
        background: #082136;
        color: #ababc5;
        margin: 0;
      }

      .container {
        display: flex;
        justify-content: center;
        gap: 8px;
      }

      .login-form-paper {
        width: 420px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    </style>
    <div class="container">
      <div class="login-form-paper">
        <composable-form id="stream-login" fields="<%= streamLoginFields  %>">
        </composable-form>
        <composable-form id="obs-login" fields="<%= obsLoginFields %>">
        </composable-form>
      </div>
    </div>

    <div><page-controller /></div>

    <div class="container">
      <list-container class="subscriptions-list" id="subscriptions">
        <span slot="title">Subscriptions</span>
      </list-container>
    </div>
  </body>
</html>
